.hero{

position:relative;

height:100vh;

display:flex;

align-items:center;

padding:0 80px;

background-position:center;

background-size:cover;

background-repeat:no-repeat;

transition:background-image 1s ease;

overflow:hidden;

}

.hero-overlay{

position:absolute;

inset:0;

background:
linear-gradient(
90deg,
rgba(0,0,0,.92),
rgba(0,0,0,.45),
rgba(0,0,0,.1)
);

}

.hero-content{

position:relative;

max-width:650px;

z-index:2;

animation:heroFade .8s ease;

}

.hero h1{

font-size:72px;

font-weight:700;

line-height:1.05;

margin:15px 0;

}

.hero p{

font-size:17px;

line-height:1.8;

color:#ddd;

margin-bottom:25px;

}

.hero-meta{

display:flex;

gap:18px;

margin-bottom:30px;

flex-wrap:wrap;

}

.hero-meta span{

background:rgba(255,255,255,.08);

padding:8px 16px;

border-radius:40px;

backdrop-filter:blur(15px);

font-size:14px;

}

.badge{

display:inline-block;

background:#E50914;

padding:8px 18px;

border-radius:30px;

font-size:13px;

font-weight:600;

letter-spacing:.5px;

}

.buttons{

display:flex;

gap:16px;

margin-top:20px;

}

.watch-btn,
.info-btn{

padding:15px 32px;

border:none;

border-radius:12px;

font-size:16px;

cursor:pointer;

transition:.3s;

font-weight:600;

}

.watch-btn{

background:#E50914;

color:white;

}

.info-btn{

background:rgba(255,255,255,.12);

color:white;

backdrop-filter:blur(10px);

}

.watch-btn:hover{

transform:translateY(-4px);

box-shadow:0 10px 30px rgba(229,9,20,.45);

}

.info-btn:hover{

background:rgba(255,255,255,.22);

}

@keyframes heroFade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:none;

}

}
